html {
    height: 100%;
}

body {
    -webkit-text-size-adjust: 100%;
    text-align: center;
    background-color: black;
    color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    line-height: 1;
}

table {
    user-select: none;
    margin-left: auto;
    margin-right: auto;
}

img {
    user-select: none;
}

#bg {
    background-image: url("background/1.JPG");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -3;
    width: 100%;
    height: 100%;
    filter: blur(20px);
    animation: fadein 2s linear .33s 1 both;
}

#gradient {
    position: fixed;
    z-index: -2;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

#menu input {
    display: none;
    position: fixed;
    left: 0;
    padding: 1vh;
    width: 10vh;
    z-index: 2;
}


.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header {
    display: flex;
    align-items: center;
    flex-direction: row;
    animation: fadein 2s;
    white-space: nowrap;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}


#header a {
    display: inline-block;
    width: 140px;
    text-decoration: none;
    font-size: 2vh;
    color: white;
    background-color: rgba(150, 150, 150, .1);
    padding: 20px 0 20px 0;
    border-radius: 5%;
    right: 0;

}

#header a:hover {
    background-color: rgba(150, 150, 150, .2);
}

@media screen and (max-aspect-ratio: 7/8) {
    #menu {
        display: block;
    }

    #header {
        display: none;
        flex-direction: column;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 0;
        z-index: 1;
        background-color: black;
    }

    #header a {
        width: 100%;
        display: block;
        margin: 10px;
        font-size: 3vh;
    }

}


.title {
    animation: fadein 2s linear .33s 1 both;
    font-size: 8vh;
    padding: .2em;
    margin: 0;
    font-family: 'Shadows Into Light', cursive;
}

.photos {
    display: flex;
    justify-content: space-between;
}

.photos table {
    width: 100%;
}

.photos td {
    padding: 0;
    width: 200px;
    height: 200px;
}

.photos img {
    width: 33.3%;
    height: 200px;
    object-fit: cover;

}

.section {
    animation: fadein 2s linear .33s 1 both;
    background-color: rgba(30, 30, 30, .5);
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-top: .3em double;
    margin-bottom: 2vmin;
}

.section a {
    color: white;

}

.section a:hover {
    color: gray;
}

.text {
    animation: fadein 2s linear .66s 1 both;
    text-align: left;
    padding: 10px;
}


#soc {
    animation: fadein 2s linear 1.66s 1 both;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 6vh;
    padding: 5px;
    z-index: 2;
}

#soc img {
    height: 100%;
    border-radius: 50%;
}


img:hover {
    opacity: .8;
}


#profile {
    animation: fadein 2s linear .33s 1 both;
    height: 28vh;
    border-radius: 50%;
    border-style: solid;
    border-width: .5vh;
    border-color: white;
    margin: 1em;
}

#name {
    animation: fadein 2s linear .66s 1 both;
    font-size: 9vh;
    font-family: 'Shadows Into Light', cursive;
    padding: .2em;
}

#headline {
    animation: fadein 2s linear 1s 1 both;
    font-style: italic;
    font-size: 3.5vh;
    font-family: 'Dancing Script', cursive;
}

#motto {
    animation: fadein 2s linear 1.33s 1 both;
    font-size: 3.5vh;
    padding-top: 8vmin;
    font-family: 'Shadows Into Light', cursive;
}

p {
    font-size: 2.5vh;
    margin: 0;
    padding: .6em;
}


.delimiter {
    height: 2px;
    width: 100%;
    background-color: black;
    opacity: .2;
    margin: .5em 0 0.5em 0;
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #222;
}

noscript {
    color: red;
}