noscript {
    position: absolute;
    font-size: 1.2vh;
    text-align: center;
    color: red;
    z-index: 5;
    left: 0;
    right: 0;
    bottom: 15vh;
}

body,
head {
    -webkit-tap-highlight-color: transparent;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    /* background-image: url("res/19366.jpg");
    background-size: 4000px;
    background-repeat: repeat; */
    margin: 0;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
}

iframe {
    overflow: auto !important;
    -webkit-overflow-scrolling: touch !important;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
}

iframe::-webkit-scrollbar {
    display: none
}

.overFlowHidden {
    overflow: hidden;
}

.noSelect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.right {
    float: right;
}

/* TOP BAR */

.top {
    background-color: rgba(255, 255, 255, .5);
    position: fixed;
    height: 3em;
    user-select: none;
    z-index: 1;
    left: 0;
    right: 0;
    padding: .75em;
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    outline: solid;
    outline-color: white;
}

.top img {
    height: 100%;
    transition: all .2s ease-in-out;
}

.top img:hover {
    transform: scale(1.15, 1.15);
}

.top h1 {
    position: absolute;
    display: inline;
    text-align: center;
    color: rgba(1, 95, 151, 1);
    left: 2.2em;
    right: 2.2em;
    top: 0;
    bottom: 0;
    line-height: 1em;
    font-size: 2em;
    font-weight: bolder;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}

.nobackground {
    outline: none;
    background-color: none;
    -webkit-backdrop-filter: none;
    -moz-backdrop-filter: none;
    backdrop-filter: none;
}

/* TOP BAR */


/* SIDENAV */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 8vh;
    transition: .5s;
    text-align: center;
    /* -webkit-backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px); */
    background: linear-gradient(rgba(1, 95, 151, 1) 15%, white);
}

/* @supports ((-webkit-backdrop-filter: blur(15px)) or (-moz-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
    .sidenav {
        background: linear-gradient(rgba(1, 95, 151, 1) 15%, transparent, white);
        -webkit-backdrop-filter: blur(15px);
        -moz-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
    }
} */

.sidenavFallback {
    width: 100%;
}

.sidenav a {
    padding: .8vh;
    text-decoration: none;
    font-size: 1.8em;
    color: white;
    display: block;
    white-space: nowrap;
    transition: all .1s ease-in-out;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: .25em;
    font-size: 3.2em;
    margin-left: 50px
}

.sidenav a:hover {
    transform: scale(1.08, 1.08);
}

/* SIDENAV */


/* SOCIAL MEDIA BAR */
.scMediaBar {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 10vh;
}

.scMediaBar a img {
    height: 2em;
}

/* SOCIAL MEDIA BAR */


.content {
    position: absolute;
    left: 0;
    right: 0;
    top: 4.2em;
    margin: .2em auto;
    padding: .25em;
    max-width: 100vmin;
}

.content * {
    margin: 0;
    color: white;
    transition: all .2s ease-in-out;
}

.content div {
    background-color: rgba(0, 85, 150, .6);
    margin-top: .25em;
    padding: .5em;
    padding-top: 0;
    border-radius: .5em;
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.content div:hover {
    transform: scale(1.01, 1.01);
}

.content h1 {
    padding: .5em;

    font-size: 1.5em;
    background-color: rgba(0, 85, 150, 1);
    text-align: center;
    font-weight: bolder;
    border-radius: .3em;
}

.content div h1 {
    background-color: rgba(231, 166, 0, 1);
    padding: .3em;

    text-align: left;
    font-size: 1.5em;

}

.content h1:hover {
    transform: scale(1.015, 1.015);
    border-radius: .3em;
}

.content h2 {
    padding: .3em;
    font-size: 1.5em;
}

.content i, .content p, .content a {
    display: block;
    padding: .3em .5em;
}

.content ul {
    padding-left: 2.2em;
    padding-right: .5em;
}

.content a {
    font-size: 1.2em;
    background-color: rgba(0, 85, 150, .7);
    border-radius: .5em;
    font-weight: bolder;
    margin: .25em auto;
    padding: .65em;
    text-align: center;
    text-decoration: none;
}

.content a:hover {
    transform: scale(1.03, 1.03);
}

.content img {
    width: 100%;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.homepage {
    position: absolute;
    left: 0;
    right: 0;
    top: 4em;
    bottom: 0;
}

.homepage * {
    transition: all .2s ease-in-out;
}

.homepage h1 {
    position: absolute;
    left: 0;
    right: 0;
    color: rgba(0, 85, 150, 1);
    text-align: center;
    font-size: 8vh;
    font-family: 'Audiowide', cursive;
    line-height: .9em;
}

.homepage h2 {
    font-style: italic;
    color: rgba(0, 85, 150, 1);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 3.5vh;
    bottom: 8vh;
    font-family: 'Audiowide', cursive;
}

.homepage img {
    position: absolute;
    margin: auto;

    height: 25vh;
    width: auto;

    top: 25%;
    bottom: 25%;
    left: 0;
    right: 0;

    border-radius: 50%;
    border-style: solid;

    border-width: .5vh;
    border-color: rgba(0, 85, 150, 1);
}

.homepage h1:hover, .homepage h2:hover, .homepage img:hover {
    transform: scale(1.08, 1.08);
}

@media (min-aspect-ratio: 5/7) {
    .content a {
        width: 35%;
    }
}

.fadein0 {
    opacity: 0;
    animation: fadein 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards
}

.fadein1 {
    opacity: 0;
    animation: fadein 2s;
    animation-delay: .2s;
    animation-fill-mode: forwards
}

.fadein2 {
    opacity: 0;
    animation: fadein 2s;
    animation-delay: .6s;
    animation-fill-mode: forwards
}

.fadein3 {
    opacity: 0;
    animation: fadein 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards
}

.fadein4 {
    opacity: 0;
    animation: fadein 2s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards
}

.fadein5 {
    opacity: 0;
    animation: fadein 2s;
    animation-delay: 1.8s;
    animation-fill-mode: forwards
}

.fadein6 {
    opacity: 0;
    animation: fadein 2s;
    animation-delay: 2.2s;
    animation-fill-mode: forwards
}

.fadein7 {
    opacity: 0;
    animation: fadein 2s;
    animation-delay: 2.6s;
    animation-fill-mode: forwards
}

.fadein8 {
    opacity: 0;
    animation: fadein 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards
}

.fadein9 {
    opacity: 0;
    animation: fadein 2s;
    animation-delay: 3.4s;
    animation-fill-mode: forwards
}

.fadein10 {
    opacity: 0;
    animation: fadein 2s;
    animation-delay: 3.8s;
    animation-fill-mode: forwards
}

.zoomAnim {
    animation: zoomEffect 1.5s infinite;
    animation-fill-mode: forwards;
}

@keyframes vid {
    from {
        opacity: 0;
    }

    to {
        opacity: .4;
    }
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes zoomEffect {
    0% {
        transform: scale(1, 1);
        filter: none;
    }
    50% {
        transform: scale(1.2, 1.2);
        filter: drop-shadow(0px 0px 15px rgba(231, 166, 0, 1));
    }
    100% {
        transform: scale(1, 1);
        filter: none;
    }

}

::selection {
    background: rgba(0, 85, 150, 1)
}

::-moz-selection {
    background: rgba(0, 85, 150, 1)
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 54, 95, .3)
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 85, 150, 1)
}

::-webkit-scrollbar-thumb:hover {
    background: #222
}