
#frontSection{
    position: absolute;
    text-align: center;
    left:0;
    right:0;
    bottom: 10%;
}
#frontSection h1{
    font-size:14vmin;
}
#frontSection h2{
    font-size: 6vmin;
}
#frontSection h3{
    font-size: 1.8vmin;
    margin-bottom: 10%;
}
#frontSection *{
    padding: 5px;
    margin:0;
}
#downloadBtn{
    font-size: 6vmin;
}

#downloadTitle{
    font-size: 10vmin;
}

a{
    color: lightgreen;
    font-size: 6vh;
    cursor: pointer;
}

#downloadSection{
    position: absolute;
    left: 0;
    right:0;
    bottom:10%;
}

#downloadSection a{
    display: block;
    background-color:lightgreen;
    color: black;
    padding: 2em;
    font-size: 70%;
    margin:auto;
    margin-top:1em;
    width:20em;
}

#homeBtn{
    width: 1em;
    text-decoration: none;
}

html,body{
    background-image: url("img.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-align: center;
    overflow: hidden;
}