
#frontSection {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 10%;
}

#frontSection h1 {
    font-size: 5vmax;
}

#frontSection h2 {
    font-size: 2vmax;
}

#frontSection h3 {
    font-size: 1vmax;
    margin-bottom: 10%;
}

#frontSection * {
    padding: 5px;
    margin: 0;
}

#downloadBtn {
    color: lightgreen;
    font-size: 3vh;
}

#downloadTitle {
    font-size: 5vh;
    text-decoration: underline;
}

a {
    cursor: pointer;
}

#downloadSection {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
}

#downloadSection a {
    display: block;
    background-color: white;
    color: black;
    padding: 1.4em;
    font-size: 70%;
    margin: auto;
    margin-top: 1em;
    width: 20em;
    border-radius: .5em;
}

#homeBtn {
    width: 1em;
    text-decoration: none;
}

html, body {
    background-image: url("img.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-align: center;
    overflow: hidden;
}

iframe {
    width: 64vmin;
    height: 36vmin;
}

@media (max-aspect-ratio: 3/4) {
    iframe {
        width: 100%;
        height: 30vh;
    }
}
